@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Itim&display=swap');


:root{
    --redPink: linear-gradient(to right, #FF00A8 0%, #D8032A 100%);
    --bluePurple:  linear-gradient(to right, #1937D4 2.56%, #BC0995 92.16%);
    --blue: #063F87;
    --redish: #D22215;
    --searchShaodw: -13px 13px 26px rgba(181, 181, 181, 0.2), 13px -13px 26px rgba(181, 181, 181, 0.2), -13px -13px 26px rgba(255, 255, 255, 0.9), 13px 13px 33px rgba(181, 181, 181, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(181, 181, 181, 0.5);
}

*{
margin: 0;
padding: 0;
font-family: 'Dosis',sans-serif;
font-size: 16px;
box-sizing: border-box;
scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
h1{
    margin: 10px 0;
    margin-top: 20px;
}
h1,h2{
    font-family: 'Itim', cursive;
    font-size: 25px;
    font-weight: 500;
}
nav{
    display: flex;
    /* justify-content: space-around; */
    /* width: 100%; */
    padding: 10px 5px;
    align-items: center;
    position: fixed;
    width: 100%;
    background: #000000b8;
    z-index: 10;
    top: 0;
}
.full-links{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

/* mobie  */
.ham{
    display: none;
    cursor: pointer;
    color: white;
    place-items: center;
    font-size: 18px;
}
.icon-close{
    display: none;
    transform-origin: center;
    animation: rota .5s ease-in;
    transform: rotate(180deg);
}
@keyframes rota{
    100%{
        transform: none;
    }
}
.drop{
    display: none;
    position: absolute;
    background: #000000d4;
    border-left: 2px solid #44dd88;
    border-right: 2px solid #4d8f;
    top: 42px;
    /* text-align: center; */
    justify-items: center;
    width: 160px;
    padding: 10px;
}
.drop a{
    margin-bottom: 15px;
}
.drop a:last-child{
    margin-bottom: 0;
}
.show{
    display: grid;
}
.remove{
    display: none;
}






nav span{
    display: flex;
    place-items: center;
    color: #fff;
}
nav a span:hover{
    color: #2196f3;
}
nav a span:hover .icon{
    filter: invert(52%) sepia(18%) saturate(2505%) hue-rotate(167deg) brightness(98%) contrast(95%);
}
.icon{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
.abt-icon{
    width: 24px;
    height: 24px;
}
a{
    text-decoration: none;
}
.top{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 18rem 1rem 3rem 1rem;
    position: relative;
}
.top::before{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: -36%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#00000040,#00000066),url(images/top-use.jpeg) no-repeat;
    background-size: cover;
    /* background-position: unset; */
    background-position-x: left;
    z-index: -1;
    background-attachment: fixed;
    background-position-y: 30%;
    clip-path: circle(155vh at 48% -69vh);
}
.top-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 0.1;
}
.youtube{
    align-self: flex-end;
    min-width: 260px;
    width: 280px;
    height: 180px;
    border: 4px solid var(--redish);
    padding: 3px;
    margin: 10px 0;
}
.frame{
    width: 100%;
    height: 100%;
    /* margin: 2px; */
}
.top-text{
    max-width: 450px;
    align-self: baseline;
}
.who-text{
    line-height: 1.8;
    padding: 1.7rem 0;
}
.more{
    border: 2px solid #D22215;
    outline: none;
    background-color: rgb(255, 255, 255);
    padding: 4px 13px;
    border-radius: 3px;
    font-size: inherit;
    cursor: pointer;
}
/* .more::before{
    content: "";
    position: absolute;
    right: -2px;
    top: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    background-color: white;
    
} */
.arrow{
    z-index: -1;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    width: max-content;
     display: grid;
     justify-items: center;
}
.arrow-icon{
    width: 35px;
    height: 35px;
}

/* event  */
.event{
    background: url("images/bg.jpg") center no-repeat;
    background-size: cover;
    padding-top: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    justify-content: end;
}
.our{
    color: white;
    text-align: center;
  
}
.event-card{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;
    flex-wrap: wrap;
}
.mic-img{
    width: 450px;
    height: 360px;
    object-fit: cover;
}
.text-card{
    background-color: white;
    padding: 30px 20px;
    max-width: 378px;
    z-index: 5;
    transform: translateX(-30px);
}
.text-card p{
    line-height: 1.7;
    margin-bottom: 30px;
}
.rsvp{
    border: none;
    background:var(--redPink);
    padding: 10px 25px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: inherit;
}

/* project  */
.project{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.project-card{
    box-shadow: var(--searchShaodw);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding: 8px; */
    height: 290px;
    margin: 10px;
    width: 290px;
    text-align: center;
    border-radius: 4px;
    padding-bottom: 15px;
}
.pro-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}
h2{
    margin: 2rem 0;
    text-align: center;
}
.get{
    border: none;
    padding: 8px 10px;
    outline: none;
    /* border-radius: 1px; */
    background: #063F87;
    color: white;
    font-size: inherit;
    cursor: pointer;
}
.get:hover{
    background: #0f0f99;
}

/* blog  */
.blogs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.blog-sect{
    padding: 1rem 0;
    text-align: center;
    background: var(--bluePurple);
}
.less{
    color: #fff;
}
.blog-img{
    width: 280px;
    height: 180px;
    object-fit: cover;
}
.blog-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.blog-text{
    
    background-color: white;
    padding: 10px 5px;
    width: 260px;
    z-index: 5;
    transform: translateY(-20px);
    align-items: center;
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-text p{
    margin: 15px 0;
    text-align: center;
    width: 100%;
}


/* fun  */
.fun{
    height: 100vh;
    background: #000;
}
.unText{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #08080885;
    width: 100%;
    padding: 10px 0;
    color: white;
    font-weight: 500;
}


/* footer  */
footer{
    margin-top: 1.4rem;
    min-height: 270px;
    width: 100%;
    background: url("icons/wave\ bg\ svg\ 1.svg") no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  position: relative;
  padding: 2rem 0.5rem;
  background-size: cover;
  background-position: bottom;
  color: white;
}
.left{
    margin-top: 15px;
}
.left a{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.left a img{
    margin-right: 5px;
}
.middle, .right{
    margin: 15px 0;
    display: grid;
    justify-items: center;
    align-content: space-around;
}
.middle article{
    text-align: center;
    margin: 2px 4px;
}
.quote, .quote-right{
    width: 30px;
    height: 30px;
    justify-self: left;
}
.quote-right{
    justify-self: right;
    margin-bottom: 5px;
}
.verse{
    text-align: right;
    width: 100%;
}
.cont-icons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: 200px;
}
.cont-icons img{
    width: 30px;
    height: 30px;
}
.cont-icons img:hover{
    transform: translateY(-10px);
}
.copy{
    position: absolute;
    width: 100%;
    bottom: 5px;
}
.copy p{
    text-align: center;
}




/* zam  */
.story-sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.6rem;
}
.story{
    max-width: 820px;
    background-color: white;
    box-shadow: var(--searchShaodw);
    padding: 1rem;
    margin: 5px;
    border-radius: 5px;
}
.first-p{
    text-indent: 2.5rem;
}
.story h2{
    margin-top: 0;
    margin-bottom: 8px;
    color: rgb(48, 48, 48);

}
.story p{
    /* font-family: Arial, Helvetica, sans-serif; */
    color: rgb(48, 48, 48);
    line-height: 2;
    text-align: justify;
    margin: 1.35rem 0;
    font-size: 18px;
}



/* responsive  */
@media screen and (max-width:500px){
    .top{
        padding: 17.6rem 1rem 3rem 1rem;
    }
    .top::before{
        background-position-x: center;
        background-position-y: top;
        top: -25%;
        height: 65%;
    }
    .text-card{
        transform: translateY(-10px);
        padding: 10px;
        max-width: 280px;
    }
    .text-card p{
        line-height: 1.4;
    margin-bottom: 14px;
    }
    .mic-img{
        width: 300px;
    height: 240px;
    }
    .ham{
        display: flex;
    }
    .full-links{
        display: none;
    }
    .youtube{
        width: 250px;
    height: 160px;
    }
}